/* Elements for use within pages */

.float_right {
  display: inline;
  float: right;
  padding: 0.5em;
  border: 0px transparent;
}

.float_left {
  display: inline;
  float: left;
  padding: 0.5em;
  border: 0px transparent;
}

.float_centre {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5em;
  border: 0px transparent;
}

.float_inline {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border: 0px transparent;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.align_centre {
  text-align: center;
}

.align_full {
  text-align: justify;
}

.fill_white {
	background-color: transparent;
}

.badge {
	display: inline;
	float: right;
	padding: 0.2em;
	border: 0px transparent;
}

.quote {
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 10px 12px;
	margin-left: 0px;
	margin-right: 0px;
	font-style: italic;
}

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	color: #000000;
	background: #eeeeee;
	border: 1px solid #cccccc;
	padding: 10px 12px;
}

/* Main structure elements */

body {
  background: #ffffff;
  font-family: sans-serif;
  color: #000000;
}

a {
  color: #2c006d;
}

a:hover {
  color: #6d0000;
}

.container {
  width: 90%;
  padding: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
}

h1 { 
  background: transparent url(../images/style/title-nodiad.png) no-repeat top center;
  margin-top: 10px;
  width: 100%;
  height: 98px;
}
h1 span {
  display: none
}

h2 {
  background: transparent url(../images/style/nodiad-blob-in.png) no-repeat center left;
  margin-top: 0px;
  padding-left: 30px;
}

h3 {
  background: transparent url(../images/style/nodiad-blob-in.png) no-repeat center left;
  margin-top: 0px;
  padding-left: 30px;
  font-size: medium;
}

#navbar {
  background: transparent url(../images/style/nodiad-cc.png) repeat 0% 0%;
  width: 100%;
  text-align: left;
  line-height: normal;
}

#navbar h2 {
  display: none;
}

#navigate {
  background: transparent url(../images/style/nodiad-cc.png) repeat 0% 0%;
  width: 100%;
  text-align: left;
  clear: both;
  line-height: 150%;
}

#actions {
  background: transparent url(../images/style/nodiad-cc.png) repeat 0% 0%;
  width: 100%;
  text-align: left;
  clear: both;
  line-height: 150%;
}

#archives {
  background: transparent url(../images/style/nodiad-cc.png) repeat 0% 0%;
  width: 100%;
  text-align: left;
  clear: both;
  line-height: 150%;
}

.hlink {
}

.vlink {
  width: 100%;
  display: list-item;
  list-style-type: none;
}

#actions a, #navbar a, #navigate a, #archives a {
  background: transparent url(../images/style/nodiad-blob-out.png) no-repeat center left;
  padding-left: 30px;
}

#actions a:hover, #navbar a:hover, #navigate a:hover, #archives a:hover {
  background: transparent url(../images/style/nodiad-blob-in.png) no-repeat center left;
}

.main {
  background: transparent url(../images/style/nodiad-cc.png) repeat 0% 0%;
  width: auto;
  display: inline;
  float: right;
  margin-left: 190px;
}

.main_full {
  background: transparent url(../images/style/nodiad-cc.png) repeat 0% 0%;
  width: 100%;
  display: inline;
  float: left;
}

.sidebar {
  background: transparent url(../images/style/nodiad-cc.png) repeat 0% 0%;
  width: 189px;
  display: inline;
  float: left;
  margin-right: -190px;
}

.top {
  background: transparent url(../images/style/nodiad-tc.png) repeat-x 0% 0%;
}
.bottom {
  background: transparent url(../images/style/nodiad-bc.png) repeat-x 0% 100%;
}
.left {
  background: transparent url(../images/style/nodiad-cl.png) repeat-y 0% 0%;
}
.right {
  background: transparent url(../images/style/nodiad-cr.png) repeat-y 100% 0%;
}
.topleft {
  background: transparent url(../images/style/nodiad-tl.png) no-repeat 0% 0%;
  width: 100%;
}
.topright {
  background: transparent url(../images/style/nodiad-tr.png) no-repeat 100% 0%;
}
.bottomleft {
  background: transparent url(../images/style/nodiad-bl.png) no-repeat 0% 100%;
}
.bottomright {
  background: transparent url(../images/style/nodiad-br.png) no-repeat 100% 100%;
  padding: 22px;
  display: block;
}

input.text {
  background: #fefefe;
  border: #aaaaaa solid 1px;
}
input.submit {
  background: #fefefe;
  border: #aaaaaa solid 1px;
}
textarea.text {
  background: #fefefe;
  border: #aaaaaa solid 1px;
}

li.download {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
  list-style-position: outside;
}

.dl_title {
  font-weight: bold;
}

li.reference {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
  list-style-position: outside;
}

.ref_publication {
  font-style: italic;
}

.list {
  padding-left: 1.5em;
}

.list_item {
  list-style-position: outside;
  display: list-item;
  border-bottom: 0px solid black;
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}

.list_title {
  font-weight: bold;
}

.list_body {
}

.list_body p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

#copyright {
  text-align: center;
  font-size: small;
  clear: both;
}

hr {
  width: 80%;
  background-color: #ddf8e6;
  border-top: 2px solid #c2c2c2;
  border-left: 2px solid #c2c2c2;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  color: #0000ff;
  height: 6px;
}

.warning {
  color: #ff0000;
}

.animate {
  visibility:hidden;
  position:absolute;
  overflow:hidden;
  z-index:-100;
}

#footer {
  clear: both;
  width: 100%;
}

.ical {
    font-size: 83%;
	background: transparent url(../images/style/ical.png) no-repeat;
    padding-left: 20px;
}

#show_comments {
  background: transparent url(../images/style/nodiad-blob-out.png) no-repeat center left;
  padding-left: 30px;
}

#show_comments:hover {
  background: transparent url(../images/style/nodiad-blob-in.png) no-repeat center left;
}

