/* Font Cabin: http://fonts.googleapis.com/css?family=Cabin:400,700,700italic,400italic */
@import url(../fonts/cabin.css);

/* Main structure elementss */

html {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background: transparent url(../images/style/sketch/objects.png) repeat top left;
	/*background-attachment: fixed;*/
	font-family: 'Cabin', sans-serif;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
	font-style: none;
	margin: auto;
	padding: 0px;
	border: 0px;
	padding-bottom: 16px;
	max-width: 960px;
}

h1 {
	font-weight: bold;
	font-style: italic;
	padding-left: 40px;
	padding-top: 32px;
	padding-bottom: 13px;
	height: 64px;
	color: black;
	margin-left: 0px;
	margin-right: 64px;
	margin-top: 0px;
	margin-bottom: -13px;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 1.0);
}

h2 {
	margin-top: 0px;
	margin-bottom: 6px;
}

/* List styling */

.list_title {
	font-weight: bold;
}

.list_item {
	margin-bottom: 16px;
}

ul.software {
	padding-left: 0px;
}

li.download {
	margin-bottom: 16px;
	list-style-position: outside;
	list-style-type: none;
}

.dl_title {
	font-weight: bold;
}

ul.references {
	padding-left: 0px;
}

li.reference {
	margin-bottom: 16px;
	list-style-position: outside;
	list-style-type: none;
}

.ref_publication {
	font-style: italic;
}

.ref_title {
	font-weight: bold;
}

/* Link styling */

.hlink a, .vlink a {
	padding-left: 6px;
	margin-right: 8px;
	margin-top: 4px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.7);
	float: left;
	min-width: 80px;
}

.vlink, .hlink {
	display: inline;
	line-height: 150%;
}

a, a:visited {
	color: #8c44a6;
	text-decoration: none;
}

a:hover {
	color: blue;
	background: rgba(220, 220, 255, 0.7);
	transition: all 0.3s ease;
}

/* Structure elements */

.container {
	width: auto;
	margin: 0px;
	padding: 0px;
	position: relative;
	display: block;
}

.left {
	background: #ffffcc;
	width: auto;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 8px;
	border-radius: 16px;
	box-shadow: 0 0 4px #000000;	
}

.navigate {
	background: transparent;
	position: absolute;
	top: 96px;
	left: 50%;
	width: 50%;
	overflow: hidden;
}

.navigate .left {
	background: transparent url(../images/style/sketch/objects-blue.png) repeat top left;
	margin-left: 16px;
}

.navigate .right, #navbar .right {
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: 0px;
}

.left {
	overflow: auto;
}

.top {
	background: transparent;
	border: 1px transparent solid;
}

#navbar {
	background: transparent;
	left: 0%;
	width: 50%;
	overflow: hidden;
}

#navbar .left {
	background: transparent url(../images/style/sketch/objects-green.png) repeat top left;
	margin-right: 16px;
}

.maintext .left {
	background: transparent url(../images/style/sketch/objects-orange.png) repeat top left;
	overflow: auto;
}

.mainlist .left {
	background: transparent url(../images/style/sketch/objects-purple.png) repeat top left;
	overflow: auto;
}

.maindownloads .left {
	background: transparent url(../images/style/sketch/objects-lightred.png) repeat top left;
	overflow: auto;
}

.mainrefs .left {
	background: transparent url(../images/style/sketch/objects-lightgreen.png) repeat top left;
	overflow: auto;
}

.maincomments .left {
	background: transparent url(../images/style/sketch/objects-lightblue.png) repeat top left;
	overflow: auto;
}

.actions .left {
	background: transparent url(../images/style/sketch/objects-cyan.png) repeat top left;
	overflow: auto;
}

.archives .left {
	background: transparent url(../images/style/sketch/objects-yellow.png) repeat top left;
	overflow: auto;
}

#copyright {
	text-align: center;
	font-size: small;
	clear: both;
}

/* Elements for use within pages */

.float_right {
	display: inline;
	float: right;
	padding: 0.5em;
	border: 0px transparent;
}

.float_left {
	display: inline;
	float: left;
	padding: 0.5em;
	border: 0px transparent;
}

.float_centre {
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0.5em;
	border: 0px transparent;
}

.float_inline {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	border: 0px transparent;
}

.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

.align_centre {
	text-align: center;
}

.align_full {
	text-align: justify;
}

.badge {
	display: inline;
	float: right;
	padding: 0.2em;
	border: 0px transparent;
	transition: transform 1s ease;
}

.badge:hover {
	transform: rotate(360deg);
}

#show_comments {
	padding-left: 6px;
	margin-right: 8px;
	margin-top: 4px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.7);
	float: left;
	min-width: 80px;
	display: inline;
	line-height: 150%;
}

#show_comments:hover {
	color: blue;
	background: rgba(220, 220, 255, 0.7);
	transition: all 0.3s ease;
}

/* Snow build up
.right {
	background: transparent url(../images/style/sketch/snowattach.png) no-repeat top right;
}
*/

/* Responsive elements */

@media only screen and (min-width: 708px) {
	.navigate .right, #navbar .right {
		height: 96px;
	}
}

@media only screen and (max-width: 708px) and (min-width: 522px) {
	.navigate .right, #navbar .right {
		height: 128px;
	}
}

@media only screen and (max-width: 522px) {
	.navigate .right, #navbar .right {
		max-height: 32px;
		transition: max-height 1s ease;
		overflow-y: hidden;
	}
	
	.navigate .right:hover, #navbar .right:hover {
		max-height: 600px;
	}
	#navbar {
		position: absolute;
		top: 96px;
	}
	h1 {
		margin-bottom: 80px;
	}
}

@media only screen and (min-width: 608px) {
	h1 {
		background: transparent  url(../images/style/sketch/pig-trail.png) no-repeat top right;
	}
}

@media only screen and (max-width: 608px) {
	h1 {
		background: transparent  url(../images/style/sketch/pig-small.png) no-repeat top right;
	}
}

